* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    background-image: url(water.jpg);
}

.createRepo {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

#cr {
    padding: 10px;
}

.rollback {
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
}

.pushCode {
    background-color: rgb(148, 147, 147);
    padding: 20px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 4rem;
    text-shadow: 0 0 10px rgb(167, 7, 167);
    padding-bottom: 10px;

}

/*
.title {
    text-align: center;
    font-size: 4rem;
    text-shadow: 0 0 10px rgb(167, 7, 167);
    padding-bottom: 10px;
    background-image: url(water.jpg);
    -webkit-background-clip: text;
    color: transparent;
}*/

.pill {
    border-radius: 25px;
}

h1,
h4 {
    display: inline;
}

/* Navbar CSS */
* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: transparent;
    height: 40px;
}

nav ul {
    margin: 0 auto;
}

nav ul li {
    list-style-type: none;
    width: 100px;
    float: left;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: purple;
    line-height: 40px;
    display: block;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255);
}