/*
 * @author James Austin Jr., Rifat Hasan, Rishika Baranwal, Samyak Jain
 * @email james.austin@student.csulb.edu, rifat.hasan@student.csulb.edu, rishika.baranwal@student.csulb.edu, samyak.jain@student.csulb.edu
 * @date 2021/02/07
 * @brief style.css is for animation and to make the website look prettier
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    background-image: url(background.jpg);
}



label {
    text-align: left;
}

#repo {
    padding-left: 1px;
    padding-right: 1px;
}

#cr {
    padding: 10px;
}

.createrepo {
    background-color: rgb(177, 222, 236);
    padding: 20px;
    text-align: center;
}

.checkin {
    background-color: #9FE2BF;
    padding: 20px;
    text-align: center;
}

.listing {
    background-color: rgb(238, 139, 125);
    padding: 20px;
    text-align: center;
}

.checkout {
    background-color: rgb(190, 190, 190);
    padding: 20px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px rgb(193, 154, 120);
    padding-bottom: 10px;

}

/*
.title {
    text-align: center;
    font-size: 4rem;
    text-shadow: 0 0 10px rgb(167, 7, 167);
    padding-bottom: 10px;
    background-image: url(water.jpg);
    -webkit-background-clip: text;
    color: transparent;
}*/

.pill {
    border-radius: 25px;
}

h1,
h4 {
    display: inline;
}

/* Navbar CSS */
* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgba(255, 255, 255, 0.582);
    height: 40px;
    width: 400px
}

nav ul {
    margin: 0 auto;
}

nav ul li {
    list-style-type: none;
    width: 100px;
    float: left;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 40px;
    display: block;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255);
}